---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const components = (await getCollection('components')).sort((a, b) => a.data.title.localeCompare(b.data.title));
---
<BaseLayout title="Home">
  <main style="max-width: 1200px; margin: 0 auto; padding: 48px 24px;">
    <cs-space-between size="l" direction="vertical">
      <div>
        <cs-box variant="h1">Cumulus UI</cs-box>
        <cs-box variant="p" color="text-body-secondary">
          <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_components">Web Components</a> inspired by Cloudscape Design System.
          {' '}<cs-badge color="blue">{components.length}</cs-badge>
        </cs-box>
      </div>
      <div class="tiles-grid">
        {components.map(comp => (
          <a href={`/components/${comp.id}`} class="tile-link">
            <cs-container fit-height>
              <cs-header slot="header" description={`<${comp.data.tag}${'>'}`}>
                {comp.data.title}
              </cs-header>
              <cs-box font-size="body-s" color="text-body-secondary">{comp.data.description}</cs-box>
            </cs-container>
          </a>
        ))}
      </div>
    </cs-space-between>
  </main>
</BaseLayout>

<style>
  .tiles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1296px;
    gap: 12px;
  }
  .tile-link {
    display: grid;
    text-decoration: none;
  }
</style>
